
body {
    background-image: url("imges/pexels-ivo-rainha-1290141.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
header {
    background-color: #333333de;
    color: white;
    text-align: center;
    font-size: 40px;
    padding-bottom: .5em;
    padding-top: .5em;
}
.btn {
    display: grid;
    justify-items: center;
    align-items: center;
}
button {
    border: none;
    border-radius: 25px;
    background-color: #333333d3;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: .5em;
}
button:hover {
    background-color: #555;
}
.move {
    display: flex;
    justify-content: center;
    align-items: center;
}
 form {
    background-color: rgba(106, 127, 147, 0.86);
    border-radius: 20px;
    padding: 20px;
 }  
label {
    font: bold 20px Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    border: none;
    border-radius: 5px;
    margin: .5em;
}
input:hover {
    background-color: #99cbcd;

}   }
input:focus {
    background-color: #979a9b;
}
h3 {
    font: bold 15px times new roman;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check{
    display: flex;
    justify-content: left;
    align-items: center;
}
checkbox:hover {
    background-color: #99cbcd;
}
.subBtn1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.library {
}
h3 {
    font: bold 25px times new roman;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.card-all {
    margin-right: 150px;
    margin-left: 150px;
    max-height: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background: rgba(106, 127, 147, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: .2fr 1fr;
    grid-template-areas: 
    "title"
    "auther"
    "p p"
    "btn btn";
}
.card-header {
    margin-top: -10px;
    margin-bottom: -40px;
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-rows: 1em .1fr;
    grid-template-columns: 1fr;
    display-template-areas:
        "title"
        "auther";
}
p {
    margin-bottom: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body {
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-areas: 
    "p p"
    "btn btn";
}